.accountEdit {
    background-image: url('../../../../public/src/img/bc/bc-accountEdit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    &__section {
        padding: 6.4vh 2vw 13.8vh 105px;
    }
}
