.messages{
    height: 100vh;

    background-image: url('../../../../public/src/img/bc/bc-messages.png');
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        margin: 6.4vh 2vw 0 105px;
        padding-bottom: 8.5vh;

        gap: 15px;

        height: 92vh;
    }

    &__filter,
    &__dialogs,
    &__chat {
        border-radius: 10px;

        height: 100%;
    }

    &__filter {
        background-color: #180D38;

        &__item {
            padding: 20px 12px;
            width: 100%;

            transition: all .3s ease-in-out;
            cursor: pointer;

            &:first-of-type {
                border-radius: 10px 10px 0 0;
            }

            &.active {
                background-color: #341D79;
            }

            &:hover {
                background-color: rgba(64, 36, 147, 0.347);
            }

            &__top {
                position: relative;

                margin-bottom: 5px;

                &__num {
                    position: absolute;

                    right: 5px;
                    top: -10px;

                    width: 25px;
                    height: 25px;

                    background-color: #582FD0;
                    border-radius: 50%;

                    &__text {
                        font-size: 14px;
                        line-height: 100%;
                    }
                }
            }
        }
    }

    &__dialogs {
        padding: 25px 10px 30px 15px;

        background-color: #261656;
        width: 426px;

        &__top {
            gap: 9.4vw;

            padding: 0 0 15px 5px;
            margin-bottom: 25px;

            border-bottom: 1px solid #ffffff0d;

            &__title {
                width: max-content;
            }

            &__btns {
                gap: 10px;
            }
        }

        &__block {
            height: 85%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 10px;

            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #341D79;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #180D38;
                border-radius: 10px;
                padding: 0 3px;
            }
        }

        &__item {
            padding: 10px 10px 10px 15px;

            border-radius: 10px;
            background-color: #180D38;

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }

            &__photo {
                position: relative;
                &__img {
                    margin-right: 10px;

                    border-radius: 50%;

                    width: 50px;
                    height: 50px;

                    object-fit: cover;
                }

                &__status {
                    position: absolute;
                    bottom: 0;
                    right: 12px;

                    width: 10px;
                    height: 10px;

                    border-radius: 50%;

                    &--true {
                        background-color: #13C930;
                    }

                    &--false {
                        background-color: #EB0000;
                    }
                }
            }

            &__content {
                gap: 16px;

                &__top {
                    height: 50px;

                    &__text {
                        color: $grey;

                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        white-space: normal;
                    }
                }

                &__bottom {
                    height: 50px;

                    &__check {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    &__chat {
        width: 63vw;
        background-color: #180D38;

        &__top {
            background-image: url('../../../../public/src/img/icons/messages/bc-top.png');
            background-repeat: no-repeat;

            &__right {
                padding: 15px 17% 15px 25px;
            }

            &__img {
                margin-right: 15px;

                width: 50px;
                height: 50px;

                border-radius: 50%;

                object-fit: cover;
            }

            &__info {
                &--true {
                    color: #3EAF6B
                }
            }

            &__btns {
                height: 50px;

                padding: 15px 25px 15px 60%;
                gap: 20px;

                &__search {
                    &__img {
                        height: 20px;
                    }
                }
            }
        }

        &__block {
            padding: 0 13px 31px 20px;
            overflow-y: scroll;

            height: 65%;

            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #341D79;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #180D38;
                border-radius: 10px;
                padding: 0 3px;
            }

            &__item {
                margin-bottom: 50px;

                &.recieved,
                &.sent {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                &.sent {
                    justify-content: end;
                    align-items: end;

                    & .messages__chat__block__item__text {
                        &:not(:last-of-type) {
                            margin-right: 13px;
                        }

                        &:last-of-type {
                            padding-right: 48px;

                            background-image: url('../../../../public/src/img/icons/messages/edge-sent.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
                }

                &.recieved {
                    & .messages__chat__block__item__text {
                        &:not(:last-of-type) {
                            margin-left: 13px;
                        }

                        &:last-of-type {
                            padding-left: 48px;

                            background-image: url('../../../../public/src/img/icons/messages/edge.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
                }

                &__text {
                    padding: 13px 8px 13px 15px;
                    width: max-content;

                    border-radius: 10px;

                    &:not(:last-of-type) {
                        background-color: #40219B;
                    }
                }
            }
        }

        &__new {
            margin: 30px;

            &__wrap {
                position: relative;
                width: 77%;

                &__search {

                    &__input {
                        padding: 20px;
                        width: 100%;

                        background-color: #261656;
                        border-radius: 5px;

                        color: $white;

                    }

                    &__btns {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }
                }
            }
        }
    }
}


