.register {
    background-image: url('../../../../public/src/img/bc/bc-signIn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @include onDesktop {
        height: 100vh;
    }

    @include onMobile {
        margin-bottom: 120px;

        background-image: url('../../../../public/src/img/bc/bc-register.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__container {
        padding: 4vh 0;

        flex-direction: row;
        align-items: center;

        @include onDesktop {
            position: absolute;
            left: 17vw;
            top: 12vh;

            background-image: url('../../../../public/src/img/photo/signIn.png');
            background-repeat: no-repeat;
            background-size: 43% 100%;
            background-position: left center;
        }

        @include onMobile {
            flex-direction: column;

            padding: 0;
        }

        &--signin {
            left: 20vw;

            @include onMobile {
                left: 0;
            }
        }

        &__text {
            padding: 3.7vh 2vw 4.6vh;
            margin-right: 66px;

            border-radius: 5px;
            background-color: #0c002e33;
            backdrop-filter: blur(10px);

            width: 33%;

            @include onMobile {
                width: 328px;
                padding: 130px 0 90px 15px;
                margin-bottom: 56px;

                margin-right: 0;

                background-image: url('../../../../public/src/img/photo/signIn.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &--mob {
                @include onMobile {
                    border-radius: 5px;
                    background-color: #0c002e33;
                    backdrop-filter: blur(10px);

                    padding: 21px 3.2vw 21px 11px;
                    width: 328px;
                }
            }

            &__title {
                margin-bottom: 15px;

                font-size: 2.5vw;
                line-height: 114%;

                @include onMobile {
                    margin-bottom: 0;

                    font-size: 30px;
                    line-height: 183%;
                }
            }

            &__desc {
                font-size: 0.72vw;

                @include onMobile {
                    font-size: 14px;
                }
            }
        }


        &__form {
            border-radius: 5px;
            background: $main-bc;

            padding: 5vh 3vw 6vh;

            @include onMobile {
                padding: 0 3.2vw 0 48px;
            }

            &__inputs {
                gap: 24px;

                flex-direction: row;

                @include onMobile {
                    flex-direction: column;
                    gap: 0;

                    width: 100%;
                }
            }

            &__input {
                margin-bottom: 2.5vh;

                border-radius: 5px;
                background-color: #180D38;

                padding: 1.8vh 1vw;

                font-size: 0.83vw;
                font-weight: 700;

                color: $white;

                width: 19vw;

                @include onMobile {
                    width: 100%;
                    padding: 20px;

                    font-size: 14px;

                    margin-bottom: 25px;
                }

                &::placeholder {
                    opacity: 0.25;

                    @include onMobile {
                        font-size: 14px;
                    }
                }
            }

            &__label {
                margin-bottom: 13px;

                font-size: 1vw;

                @include onMobile {
                    margin-bottom: 10px;

                    font-size: 18px;
                }
            }

            &__agree {
                margin-bottom: 2.5vh;

                font-size: 0.72vw;
                opacity: 0.75;

                span {
                    text-decoration: underline;
                }

                @include onMobile {
                    margin-bottom: 25px;

                    font-size: 14px;
                }
            }

            &__btns {
                gap: 10px;

                margin-bottom: 35px;
                flex-direction: row;

                @include onMobile {
                    flex-direction: column;
                }

                &__btn {
                    gap: 9px;
                    @include onMobile {
                        width: 100%;
                        max-width: 360px;

                        gap: 20%;
                    }
                }
            }

            &__question {
                margin-bottom: 5px;

                @include onMobile {
                    margin-bottom: 10px;
                }
            }

            &__link.desc {
                text-decoration: underline;
            }
        }
    }
}

.signIn__container__form {
    padding: 11vh 3vw;

    @include onMobile {
        padding: 0 3.2vw 0 48px;
    }
}
