.aboutPage {
    background-image: url('../../../../public/src/img/bc/bc-aboutPage-top.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    &__top {
        padding-left: 105px;
        margin-bottom: 100px;

        height: 85vh;


        &__bottom {
            gap: 35px;

            &__desc {
                width: 33vw;
            }
        }
    }

    &__content {
        padding: 0 2vw 0 105px;


        background-image: url('../../../../public/src/img/bc/bc-logo-aboutPage.png');
        background-repeat: no-repeat;
        background-size: auto ;
        background-position: center;

        &__block {
            gap: 3.5vw;

            &:first-of-type {
                margin-bottom: 100px;
            }

            &__img {
                width: 35.5vw;
            }

            &__text {
                &__title {
                    margin-bottom: 10px;

                    font-size: 5vw;
                    text-transform: uppercase;
                }

                &__undertitle {
                    margin-bottom: 15px;

                    font-size: 24px;
                    text-transform: uppercase;
                }

                &__desc {
                    line-height: 155%;
                }

            }
        }
    }
}
