.contactPage {
    margin-bottom: 150px;

    &__container {
        height: 100vh;
        width: 100vw;

        margin: 0 auto;
        background-image: url('/src/img/bc/bc-contactPage-top.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__top {
        height: max-content;
        width: max-content;
        margin-bottom: 84px;

        &__text {

            &__title {
                margin-right: 35px;
            }

            &__desc {
                width: 499px;
            }
        }
    }

    &__bottom {
        padding: 0 58px 0 105px;

        &__left {
            &__text {
                margin-bottom: 56px;

                &__title {
                    margin-right: 35px;
                }

                &__media {
                    width: 360px;

                    &__column {
                        gap: 15px;

                        &__desc {
                            gap: 10px;
                        }
                    }
                }
            }
        }

        &__img {
            width: 46.5vw;
        }
    }

    &__form {
        width: 36.6vw;

        &__input {
            padding: 15px 0;

            background-color: transparent;
            border-bottom: 1.5px solid $white;

            color: $white;
            font-size: 20px;
            font-weight: 500;
            line-height: 140%;

            &::placeholder {
                color: $white;
                opacity: 0.25;
                font-size: 20px;
                font-weight: 500;
                line-height: 140%;
            }
        }

        &__group {
            width: 100%;
            gap: 25px;

            margin-bottom: 75px;
        }

        textarea {
            margin-bottom: 75px;
            padding: 15px 0;
            height: 44.5px;

            width: 100%;
        }
    }
}
