.eventsPage {
    background-image: url('/src/img/bc/bc-events.png');

    background-position: center top;
    background-size: cover;

    &__content {
        padding: 185px 0 166px 10.5vw;
        margin-bottom: 13.8vh;
        margin-left: 105px;

        background-image: url('/src/img/bc/bc-eventsPage-content.png');

        background-position: center top;
        background-size: cover;

        gap: 355px;

        &__block {
            padding: 187px 0 166px 94px;

            background-image: url('/src/img/bc/bc-eventsPage-block.png');

            background-position: left center;
            background-size: contain;

            &__title {
                width: 46vw;
                margin-bottom: 55px;

                font-size: 5vw;
                line-height: 100%;
            }
        }
    }
}
