.faq {
    background-image: url('/src/img/bc/bc-faqPage.png');

    background-size: contain;
    background-position: center top;

    @include onMobile {
        background-image: url('/src/img/bc/bc-faq-mobile.png');

        background-size: contain;
        background-position: center top;
    }

    @media ((min-width: 844px) and (max-width: 1300px)) {
        background-size: cover;
        background-position: center 25%;

    }

    &-qna {
        @include onDesktop {
            background-image: url('/src/img/bc/bc-gna-faq.png');

            background-size: contain;
            background-position: left bottom;
        }

        @include onMobile {
            margin-bottom: 80px;
        }
    }
}
