@font-face {
	font-family: 'Fixel';
	src: url('../../public/src/fonts/FixelDisplay-Regular.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

* {
    font-family: 'Fixel', sans-serif;
}

body {
    background-color: $main-bc;
    color: $white;

    overflow-x: hidden;
}

.arrow-down {
    transform: rotate(90deg);
}

a {
    color: $white;
}
