@font-face {
	font-family: 'Fixel';
	src: url('../../public/src/fonts/FixelDisplay-Regular.ttf') format('ееа');
	font-weight: 700;
	font-style: normal;
}

* {
    font-family: 'Fixel', sans-serif;
    font-weight: 700;
}

body {
    background-color: $main-bc;
    color: $white;
}
