@font-face {
	font-family: 'Fixel';
	src: url('../../public/src/fonts/FixelDisplay-Regular.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

* {
    font-family: 'Fixel', sans-serif;
    font-weight: 700;
    line-height: 100%;
}

body {
    background-color: $main-bc;
    color: $white;

    overflow-x: hidden;
}

.arrow-down {
    transform: rotate(90deg);
}

a {
    color: $white;
}

h1, h2, h3, p {
    margin-bottom: 0;
}

.title-main {
    font-size: 6vw;

    &--stroke {
        color: transparent;

        -webkit-text-stroke: 2.5px;
        background-image: linear-gradient(175deg, rgba(74, 16, 239, 1) 43%, rgba(149, 45, 246, 1) 49%, rgba(241, 81, 255, 1) 86%, rgba(241, 81, 255, 1) 89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $main-bc;
    }
}

.title-little {
    font-size: 20px;
    line-height: 140%;
}

.desc {
    font-size: 16px;
    line-height: 137.5%;
}
