$main-bc: #0c002e;
$blue: #481BF3;
$red: #C91355;
$grey: #7E7E7E;
$green: #3EAF6B;

$white: #fff;
$white-darker: #d8d8d8;
$white-second: #f2f2f2;

$gradient: linear-gradient(82deg, #4a10ef80 9.4%, #952df680 44.16%, #f151ff80 84.74%, #f151ff80 98.3%);
$violet: linear-gradient(89deg, #7C49E6 1.67%, #8538FF 98.33%);
$range: linear-gradient(210deg, #4A10EF -203.13%, #952DF6 -75.97%, #F151FF 341.82%, #F151FF 504.53%);
