$main-bc: rgb(12, 0, 46);
$blue: #481BF3;

$white: #fff;
$white-darker: #d8d8d8;
$white-second: #f2f2f2;

$gradient: linear-gradient(82deg, rgba(74, 16, 239, 0.50) 9.4%, rgba(149, 45, 246, 0.50) 44.16%, rgba(241, 81, 255, 0.50) 84.74%, rgba(241, 81, 255, 0.50) 98.3%);
