.terms,
.privacy {
    background-image: url('../../../public/src/img/bc/bc-docs-doc.png');
    background-size: contain;

    &__text {
        margin: 77px 2vw 13.8vh 105px;

        @include onMobile {
            padding-top: 25px;
            margin: 0 3.2vw 110px 48px;
        }
    }

    &__title {
        margin-bottom: 75px;
        font-size: 128px;

        @include onMobile {
            margin-bottom: 15px;
            font-size: 40px;
        }

        &-sec {
            margin-bottom: 15px;

            font-size: 24px;

            @include onMobile {
                margin-bottom: 15px;
                font-size: 18px;
            }
        }
    }

    &__desc {
        opacity: 0.75;
        &:not(:last-of-type) {
            margin-bottom: 30px;

            @include onMobile {
                margin-bottom: 25px;
            }
        }

        a {
            text-decoration: underline;
        }
    }
}
