.about {

    @include onMobile {
        padding: 0 3.2vw 0 48px;
        margin-bottom: 11px;
    }

    &__small {
        margin-bottom: 15px;

        font-size: 30px;
    }

    &__title {
        @include onDesktop {
            margin-bottom: 30px;

            font-size: 48px;
        }

        @include onMobile {
            margin-bottom: 20px;

            font-size: 30px;
        }
    }

    &__desc {
        width: 44vw;

        font-size: 14px;
        line-height: 112%;

        @include onMobile {
            width: 100%;

            line-height: 135%;
        }
    }
}
