.aboutBig {
    margin-bottom: 11vh;
    padding-left: 60px;
    padding-top: 24vh;

    position: relative;

    background-image: url('../../../public/src/img/bc/bc-hand.png');
    background-repeat: no-repeat;

    @include onDesktop {
        background-size: contain;
        background-position: right -8vh;
    }

    @include onMobile {
        padding-left: 3.2vw;
        padding-top: 11vh;

        background-size: 50vw;
        background-position: right top;
    }

    &__top {
        padding-left: 45px;

        @include onDesktop {
            margin-bottom: 50px;

            flex-direction: row;
            position: relative;
        }

        @include onMobile {
            flex-direction: column;

            margin-bottom: 25px;
        }
    }

    &__title {
        line-height: 100%;
        &--crypto {
            line-height: 100%;
        }

        @include onMobile {
            margin-bottom: 15px;
        }
    }

    &__desc {
        @include onDesktop {
            width: 28.9vw;

            position: absolute;
            left: 22vw;
            top: 1vh;
        }
    }

    &__cards {
        gap: 30px;

        animation: scroll 50s linear infinite;

        transition: all .5s ease-in-out;

        &__item {
            padding: 20px 26px 25px 24px;

            border: 1.5px solid $blue;
            border-radius: 5px;

            @include onDesktop {
                width: 16vw;
            }

            @include onMobile {
                width: 84vw;
            }

            &__top {
                margin-bottom: 15px;

                &__title {
                    font-size: 16px;
                    line-height: 112.5%;

                    color: $white-second;
                }

                &__percentage {
                    padding: 6px 12px;
                    gap: 5px;

                    border-radius: 5px;
                    background: $gradient;

                    &__text {
                        font-size: 14px;
                        line-height: 135%;
                    }
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-90%);
    }
    100% {
        transform: translateX(0);
    }
}
