.aboutBig {
    margin-bottom: 100px;
    padding-left: 45px;

    position: relative;

    &:before {
        content: url('../../../public/src/img/bc-hand.png');

        position: absolute;
        bottom: 109px;
        right: 0;
    }

    &__top {
        gap: 36px;
    }

    &__title {
        font-size: 128px;
        font-weight: 700;

        &--crypto {
            top: -43px;
            display: inline-block;
            position: relative;
            color: transparent;

            -webkit-text-stroke: 2.5px;
            background-image: linear-gradient(175deg, rgba(74, 16, 239, 1) 43%, rgba(149, 45, 246, 1) 49%, rgba(241, 81, 255, 1) 86%, rgba(241, 81, 255, 1) 89%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: $main-bc;
        }
    }

    &__desc {
        width: 555px;

        font-size: 16px;
        font-weight: 700;
        line-height: 137.5%;
    }

    &__cards {
        gap: 30px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            width: 316px;
            padding: 20px 26px 25px 24px;

            border: 1.5px solid $blue;
            border-radius: 5px;

            &__top {
                margin-bottom: 15px;

                &__title {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 112.5%;

                    color: $white-second;
                }

                &__percentage {
                    padding: 6px 12px;
                    gap: 5px;

                    border-radius: 5px;
                    background: $gradient;

                    &__text {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 135%;
                    }
                }
            }
        }
    }
}
