.about {
    position: absolute;
    top: 110vh;
    left: 27vw;

    &__small {
        margin-bottom: 15px;

        font-size: 20px;
        font-weight: 700;
        line-height: 140%;
    }

    &__title {
        margin-bottom: 30px;

        font-size: 48px;
        font-weight: 700;
        line-height: 137%;
    }

    &__desc {
        width: 44vw;

        font-size: 14px;
        font-weight: 700;
        line-height: 112%;
    }
}
