.available {
    padding: 30vh 6.3vw 18.5vh 9.5vw;

    &__title {
        padding: 75px 7vw 75px 8vw;
        margin-bottom: 3.7vh;

        background-color: #0a0126;
    }

    &__desk {
        margin-bottom: 2.3vh;

        text-transform: uppercase;
    }

    &__links {
        gap: 25px;
    }
}
