.choose {

    @include onDesktop {
        flex-direction: row;
        align-items: center;
        gap: 5vw;

        padding: 0 2vw 0 105px;
    }

    @include onMobile {
        flex-direction: column-reverse;

        padding: 0 3.2vw 0 48px;
        margin-bottom: 48px;
    }

    &__list {
        @include onDesktop {
            gap: 37px;
        }

        @include onMobile {
            gap: 25px;
        }

        &__item {
            display: flex;
            flex-direction: row;

            @include onDesktop {
                width: 40vw;

                align-items: center;
            }

            @include onMobile {
                width: 100%;

                align-items: start;
            }

            &__reason {
                letter-spacing: 2px;
                background: linear-gradient(89deg, #8538FF 1.67%, #C203FF 98.33%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                writing-mode: vertical-rl;
                transform: rotate(180deg);

                @include onMobile {
                    display: none;
                }
            }

            &__num {
                background: $violet;

                border-radius: 3px;

                @include onDesktop {
                    padding: 23px 12px;
                    margin-right: 25px;

                    font-size: 3.3vw;
                }

                @include onMobile {
                    padding: 8px 11px;
                    font-size: 30px;
                    line-height: 136.6%;

                    margin-right: 15px;
                }
            }

            &__text {
                &__title {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &__right {
        width: 100%;

        @include onMobile {
            margin-bottom: 25px;
        }

        &__title {
            &--token {
                line-height: 100%;

                @include onDesktop {
                    text-align: end;
                }
            }
        }

        &__img {
            margin: 50px 20% 0;
            width: 30vw;

            @include onMobile {
                display: none;
            }
        }
    }
}
