.coin {
    padding: 0 2vw 0 105px;
    margin-bottom: 4.6vh;

    &__images {
        &__top {
            margin-bottom: 60px;
        }

        &__img {
            &--1 {
                width: 13vw;
                height: 13vw;

                margin-right: 97px;
            }

            &--2 {
                margin-top: 43px;

                width: 7.7vw;
                height: 22vh;
            }

            &--3 {
                width: 35vw;
            }
        }
    }

    &__text {
        &__white {
            &__desc {
                margin-left: 34px;
                width: 23.5vw;
            }
        }

        &__btn {
            margin-bottom: 25px;
        }

        &__blocks {
            gap: 62px;

            &__item {
                width: 22vw;

                &__img {
                    padding: 12px;
                    margin-bottom: 10px;

                    background: $violet;
                    border-radius: 100px;
                }

                &__title {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
