.comments {
    padding-left: 105px;
    padding-right: 2vw;
    margin-bottom: 239px;

    @include onMobile {
        padding: 0 3.2vw 0 48px;

        margin-bottom: 110px;
    }

    &__title {
        margin-bottom: 75px;

        @include onMobile {
            margin-bottom: 50px;

            font-size: 37px;
        }
    }

    &__form {
        margin-bottom: 75px;

        width: 43.75vw;

        @include onMobile {
            margin-bottom: 90px;
            width: 100%;

            align-items: center;
        }

        &__input {
            padding-bottom: 15px;

            overflow-y: hidden;

            background-color: transparent;
            border-bottom: 1.5px solid $white;

            color: $white;
            font-size: 20px;
            font-weight: 500;
            line-height: 140%;

            &::placeholder {
                color: $white;
                opacity: 0.25;
                font-size: 20px;
                font-weight: 500;
                line-height: 140%;
            }
        }

        &__group {
            margin-bottom: 73px;

            flex-direction: row;
            align-items: center;
            gap: 50px;

            @include onMobile {
                margin-bottom: 75px;
                width: 100%;

                flex-direction: column;
                align-items: start;
            }
        }

        textarea {
            margin-bottom: 45px;

            width: 100%;
            height: 43px;

            resize: vertical;

            @include onMobile {
                margin-bottom: 50px;
                height: 38px;
            }
        }

        &__btn {
            width: 176px;
            gap: 18px;

            @include onMobile {
                width: 100%;
                gap: 25%;
                max-width: 360px;
            }
        }
    }

    &__content {
        position: relative;

        &__item {
            margin-bottom: 35px;

            @include onMobile {
                margin-bottom: 25px;
            }

            &__top {
                margin-bottom: 15px;
                gap: 15px;

                @include onMobile {
                    margin-bottom: 5px;
                    gap: 10px;
                }

                &__img {
                    border-radius: 50%;
                    width: 33px;
                    height: 33px;
                }

                &__name {
                    font-size: 24px;
                    font-weight: 700;

                    @include onMobile {
                        font-size: 18px;
                    }
                }
            }

            &__block {
                &__open {
                    @include onDesktop {
                        display: none;
                    }
                }

                @include onMobile {
                    position: relative;

                    &__open {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        padding-left: 9px;
                        background-color: $main-bc;

                        cursor: pointer;
                    }
                }
            }

            &__desc {
                margin-bottom: 15px;

                @include onMobile {
                    width: 100%;
                    margin-bottom: 18px;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    white-space: normal;

                    &.open {
                        -webkit-line-clamp: unset;
                    }
                }
            }

            &__bottom {
                gap: 25px;

                &__info,
                &__btn {
                    font-size: 14px;
                    opacity: 0.75;

                    @include onMobile {
                        font-size: 12px;
                    }
                }
            }
        }

        &__btn {
            padding: 16px 0;

            width: 149px;

            font-size: 16px;

            border: 1.5px solid $white;
            border-radius: 50px;

            transition: all .3s ease-in-out;

            @include onDesktop {
                position: absolute;
                left: 45%;
            }

            @include onMobile {
                width: 100%;
                max-width: 360px;
            }

            &:hover {
                background-color: white;
                color: $main-bc;
            }
        }
    }
}
