.comments {
    padding-left: 105px;
    padding-right: 2vw;
    margin-bottom: 239px;

    &__title {
        margin-bottom: 75px;
    }

    &__form {
        margin-bottom: 75px;

        width: 43.75vw;

        &__input {
            padding-bottom: 15px;

            overflow-y: hidden;

            background-color: transparent;
            border-bottom: 1.5px solid $white;

            color: $white;
            font-size: 20px;
            font-weight: 500;
            line-height: 140%;

            &::placeholder {
                color: $white;
                opacity: 0.25;
                font-size: 20px;
                font-weight: 500;
                line-height: 140%;
            }
        }

        &__group {
            gap: 50px;
            margin-bottom: 73px;
        }

        textarea {
            margin-bottom: 45px;

            width: 100%;
            height: 43px;

            resize: vertical;
        }
    }

    &__content {
        position: relative;
        &__item {
            margin-bottom: 35px;

            &__top {
                margin-bottom: 15px;
                gap: 15px;

                &__img {
                    border-radius: 50%;
                    width: 33px;
                    height: 33px;
                }

                &__name {
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            &__desc {
                margin-bottom: 15px;
            }

            &__bottom {
                gap: 25px;


                &__info,
                &__btn {
                    font-size: 14px;
                    opacity: 0.75;
                }
            }
        }

        &__btn {
            padding: 16px 0;

            width: 149px;

            position: absolute;
            left: 45%;

            font-size: 16px;

            border: 1.5px solid $white;
            border-radius: 50px;

            transition: all .3s ease-in-out;

            &:hover {
                background-color: white;
                color: $main-bc;
            }
        }
    }
}
