.complete {
    padding: 220px 2vw 220px 42px;
    background-image: url('../../../public/src/img/bc-complete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &__title {
        margin-bottom: 25px;

        font-size: 4vw;
        line-height: 100%;

        margin-top: -18px;

        &--complete {
            font-size: 6vw;
        }
    }

    &__desc {
        width: 36vw;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        &:last-of-type {
            margin-bottom: 35px;
        }
    }

    &__text {
        margin-left: 57vw;
    }

    &__btn {
        gap: 21px;

        font-weight: 700;
        font-size: 16px;
        line-height: 136%;

        width: 189px;
        height: 54px;

        border-radius: 50px;
        border: 1.5px solid $white;

        transition: all .3s;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 0%;
            height: 100%;
            background-color: $white;
            transition: all .3s;
            border-radius: 50px;
            z-index: -1;
        }

        &:hover {
            color: $main-bc;

            &:before {
                left: -1px;
                width: 100.8%;
            }
        }

        &__img {
            padding: 15px;
            border-radius: 50px;
            background-color: $white;
        }
    }
}
