.complete {
    @include onDesktop {
        padding: 20vh 2vw 20vh 102px;
    }

    @include onMobile {
        padding: 90px 3.2vw 90px 48px;

        background-image: url('../../../../public/src/img/bc/bc-complete-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title {
        @include onDesktop {
            margin-top: -18px;
            margin-bottom: 25px;

            font-size: 4vw;
            line-height: 100%;

            display: flex;
            justify-content: center;
        }

        @include onMobile {
            font-size: 35px;
            margin-bottom: 15px;
        }
    }

    &__desc {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        @include onDesktop {
            width: 36vw;

            &:last-of-type {
                margin-bottom: 35px;
            }
        }

        @include onMobile {
            &:last-of-type {
                margin-bottom: 25px;
            }
        }
    }

    &__text {
        @include onDesktop {
            margin-left: 57vw;
        }
    }
}
