.face {
    @include onDesktop {
        padding: 19vh 4vw 15vh 105px;

        flex-direction: row;
    }

    @include onMobile {
        padding: 0 3.2vw 0 48px;
        margin-bottom: 130px;

        flex-direction: column;
        gap: 25px;
    }

    &__text {
        &__top {
            @include onDesktop {
                position: relative;
                margin-bottom: 6vh;
            }

            @include onMobile {
                margin-bottom: 25px;
            }

            &__desc {
                @include onDesktop {
                    width: 28.9vw;

                    position: absolute;
                    left: 22vw;
                    top: 2vh;
                }

                @include onMobile {
                    width: 100%;
                }
            }

            &__title {
                @include onDesktop {
                    line-height: 100%;
                }

                @include onMobile {
                    margin-bottom: 15px;
                }
            }
        }


        &__table {
            @include onDesktop {
                display: grid;
                grid-template-columns: repeat(2, 366px);
                grid-gap: 75px;
            }

            @include onMobile {
                display: flex;
                flex-direction: column;
                gap: 25px;
            }

            &__item {
                &__title {
                    @include onDesktop {
                        margin-bottom: 10px;
                    }

                    @include onMobile {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    &__img {
        top: 0;
        left: 0;

        transition: opacity 1s ease-in-out;

        @include onDesktop {
            height: 100%;
        }

        @include onMobile {
            width: 313px;
        }
    }
}

