.face {
    padding: 8px 4vw 58px 45px;
    margin-top: 200px;
    margin-bottom: 107px;

    &__text {
        &__top {
            gap: 34px;

            &__desc {
                width: 555px;
            }
        }

        &__title {
            &--crypto {
                display: inline-block;
                position: relative;
                top: -1.2vw;

                margin-bottom: 65px;
            }
        }

        &__table {
            grid-template-columns: repeat(2, 366px);
            grid-gap: 75px;

            &__item {
                &__title {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__img {
        top: 0;
        left: 0;
        height: 100%;

        transition: opacity 1s ease-in-out;
    }
}

