.footer {
    padding: 40px 0 25vh 105px;

    background-image: url('/src/img/bc/bc-footer.png');

    background-position: center bottom;
    background-size: cover;

    &__top {
        margin-bottom: 162px;
        margin-right: 2vw;

        gap: 25px;

        &__desc {
            width: 388px;
        }

        &__btn {
            p {
                writing-mode: vertical-rl;
                transform: rotate(180deg)
            }
        }
    }

    &__levitai {
        margin-bottom: 15px;

        font-size: 14px;

        text-transform: uppercase;
    }

    &__rights {
        margin-bottom: 15px;

        font-weight: 600;
    }

    &__bottom {
        width: max-content;

        &.primary {
            animation: primary 10s linear infinite;
            position: absolute;
            left: 0%;
            top: 0%;
        }

        &.secondary {
            animation: secondary 10s linear infinite;
            position: absolute;
            left: 35px;
            top: 0%;
        }


        &__title {
            width: fit-content;

            font-size: 150px;

            letter-spacing: 4.5px;
            text-transform: uppercase;

            font-weight: 600;
        }
    }
}

.scroll-parent {
    width: max-content;

    position: relative;
}

@keyframes primary {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes secondary {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
  }
