.qna {
    padding: 104px 0 200px 45px;

    // background-image: url('../../../public/src/img/bc-blog.png');
    // background-repeat: no-repeat;
    // background-position: center top;
    // background-size: cover;

    &__top {
        margin-bottom: 75px;

        &__first {
            gap: 36px;

            &__desc {
                width: 395px;
            }
        }
    }

    &__block {
        &__img {
            padding-left: 61px;
        }

        &__content {
            width: 67vw;

            &__btns {
                margin-bottom: 50px;
                gap: 11px;

                &__item {
                    border-radius: 100px;
                    padding: 14px 27px;
                    transition: all 0.8s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: $main-bc;
                        background-color: #ffffff79;
                    }

                    &.active {
                        color: $main-bc;
                        background-color: $white;

                    }
                }
            }

            &__list {

                &__group {
                    transition: transform 1.5s cubic-bezier(.2,-0.39,.11,1.54), opacity 0.3s ease-in-out;
                }

                &--token,
                &--client,
                &--ico,
                &--legal {
                    transform: translateX(100%);
                    display: none;
                    opacity: 0
                }

                &__item {
                    padding-bottom: 40px;

                    border-bottom: 1.5px solid $white;

                    &:not(:last-of-type) {
                        margin-bottom: 40px;
                    }

                    &__title {
                        margin-bottom: 10px;

                        font-size: 24px;
                        line-height: 137.5%;
                    }

                    &__desc {
                        opacity: 0.75;
                        line-height: 137.5%;
                    }
                }
            }
        }

    }
}
