.qna {
    padding: 104px 0 200px 105px;

    @include onMobile {
        padding: 23px 3.2vw 10px 48px;
    }

    &-main {
        background-image: url('../../../public/src/img/bc/bc-qna.png');

        background-position: right top;
        background-size: auto;

        @include onMobile {
            background-image: url('../../../public/src/img/bc/bc-qna-mobile.png');
        }
    }

    &__top {
        margin-bottom: 75px;

        @include onDesktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include onMobile {
            flex-direction: column;

            margin-bottom: 25px;
        }

        &__first {
            position: relative;

            @include onDesktop {
                flex-direction: row;
                align-items: center;
            }

            @include onMobile {
                flex-direction: column;
            }

            &__desc {
                @include onDesktop {
                    position: absolute;

                    width: 395px;
                    top: 4vh;
                    left: 32vw;
                }
            }

            &__title {
                @include onMobile {
                    margin-bottom: 15px;

                    line-height: 100%;
                }
            }
        }
    }

    &__block {
        gap: 17vw;

        &__content {
            width: 67vw;

            @include onMobile {
              width: 100%;
            }

            &__btns {
                margin-bottom: 50px;
                gap: 10px;

                @include onMobile {
                  flex-wrap: wrap;

                  margin-bottom: 15px;
                }

                &__item {
                    border-radius: 100px;
                    padding: 14px 27px;
                    transition: all 0.8s ease-in-out;

                    @include onMobile {
                      padding: 14px 25px;
                    }

                    &:hover {
                        cursor: pointer;

                        color: $main-bc;
                        background-color: #ffffff79;
                    }

                    &.active {
                        color: $main-bc;
                        background-color: $white;
                    }
                }
            }

            &__list {
                &__group {
                    transition: transform 1.5s cubic-bezier(.2,-0.39,.11,1.54), opacity 0.3s ease-in-out;
                }

                &--token,
                &--client,
                &--ico,
                &--legal {
                    transform: translateX(100%);
                    display: none;
                    opacity: 0
                }

                &__item {
                    padding-bottom: 40px;

                    border-bottom: 1.5px solid $white;

                    &:not(:last-of-type) {
                        margin-bottom: 40px;

                        @include onMobile {
                          margin-bottom: 25px;
                        }
                    }

                    @include onMobile {
                      padding-bottom: 25px;
                    }

                    &__title {
                        margin-bottom: 10px;

                        font-size: 24px;
                        line-height: 137.5%;

                        @include onMobile {
                          margin-bottom: 5px;

                          font-size: 18px;
                        }
                    }

                    &__desc {
                        opacity: 0.75;
                        line-height: 137.5%;
                    }
                }
            }
        }

        &__img {
            width:fit-content;
            height: fit-content;
            @include onMobile {
                display: none;
            }
        }
    }

    &-about {
        @include onMobile {
            margin-bottom: 90px;
        }
    }
}
