.rating {
    padding: 255px 2vw 254px 105px;
    margin-bottom: 50px;

    background-image: url('../../../public/src/img/bc/bc-rating.png');
    background-repeat: no-repeat;
    background-position: center;

    gap: 11vw;

    &__img {
        width: 38vw;
    }

    &__text {
        &__title {
            margin-bottom: 25px;
            font-size: 6vw;
        }
    }
}
