.roadmap {
    &--page {
        padding: 0;

        background-image: url('/src/img/bc/bc-roadmap-page.png');

        background-position: center;
        background-size: cover;
    }

    @include onDesktop {
        padding: 100px 0 100px 0;
    }

    @include onMobile {
        padding: 50px 3.2vw 0 48px;

        background-image: url('../../../public/src/img/bc/bc-roadmap-mobile.png');

        background-position: 70vw top;
        background-size: auto;
    }

    &__top {
        @include onDesktop {
            padding-left: 105px;

            flex-direction: row;
            justify-content: space-between;
        }

        @include onMobile {
            flex-direction: column;
        }

        &__text {
            &__title {
                &--bottom {
                    @include onMobile {
                        margin-bottom: 15px;
                        margin-top: -10px;
                    }
                }
            }

            &__bottom {
                @include onDesktop {
                    flex-direction: row;
                }

                @include onMobile {
                    flex-direction: column-reverse;
                }

                &__desc {
                    @include onDesktop {
                        width: 452px;
                    }

                    @include onMobile {
                        width: 100%;

                        margin-bottom: 25px;
                    }
                }
            }
        }

        &__img {
            width: 365px;

            @include onMobile {
                display: none;
            }
        }

        &__arrowDown {
            margin-top: 45px;
        }
    }

    &__image {
        overflow-x: scroll;
        overflow: -ms-scrollbars-none;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }

    &__img {

        @include onDesktop {
            width: 100vw;
        }

        @include onMobile {
            width: 1837px;
        }
    }
}
