.roadmap {
    padding: 100px 0 100px 0;

    &__top {
        padding-left: 45px;
        margin-bottom: 75px;

        &__text {
            &__bottom {
                gap: 0;

                &__desc {
                    width: 452px;
                }
            }
        }

        &__img {
            width: 365px;
        }
    }

    &__img {
        width: 100vw;
    }
}
