.sales {
    position: relative;

    background-image: url('../../../public/src/img/bc/bc-sales.png');

    background-size: cover;

    @include onDesktop {
        padding: 17vh 0 22vh 105px;

        background-position: center bottom;
    }

    @include onMobile {
        padding-right: 3.2vw;

        background-position: center top;
    }

    &__top {
        @include onMobile {
            padding-left: 48px;
        }
    }

    &__header {
        line-height: 0.8;

        @include onDesktop {
            margin-bottom: 12px;
        }

        @include onMobile {
            margin-bottom: 5px;
        }
    }

    &__block {
        position: absolute;
        right: 0;

        @include onDesktop {
            top: 38%;
        }

        @include onMobile {
            top: 83px;
        }

        &__btns {
            margin-bottom: 25px;
            padding-right: 2vw;

            gap: 15px;

            &__img {
                border: 2px solid $white;
                border-radius: 100px;

                cursor: pointer;

                &--left {
                    padding: 18px 20px;

                    transform: rotate(180deg);
                }

                &--right {
                    padding: 25px 27px;
                }
            }
        }

        &__cards {
            padding: 66px 0;

            overflow-x: scroll;
            scroll-behavior: smooth;
            background-color: rgba(173, 138, 138, 0.05);

            gap: 75px;

            &::-webkit-scrollbar {
                display: none;
            }

            overflow: -ms-scrollbars-none;
            scrollbar-width: none;
            -webkit-overflow-scrolling: touch;

            @include onDesktop {
                width: 72vw;
            }

            @include onMobile {
                padding-left: 48px;
                width: 100vw;
            }

            &::before {
                content: "";
                position: absolute;
                width: calc((233px * 10) + (75px * 9));
                height: 5px;

                top: 40%;

                background: repeating-linear-gradient(to right, #5F18F1 0, #5F18F1 12px, transparent 12px, transparent 24px);
                z-index: -1;
            }

            &__item {
                flex: 0 0 auto;

                @include onDesktop {
                    width: 230px;
                }

                @include onMobile {
                    width: 180px;
                }

                &__top {
                    margin-bottom: 15px;

                    border: 1.5px solid #5F18F1;
                    border-radius: 6px;
                    background-color: rgba(12, 0, 46, 1);

                    @include onDesktop {
                        padding: 14px 0;
                    }

                    @include onMobile {
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}
