.team {
    @include onDesktop {
        padding: 54px 2vw 0 105px;

        background-image: url('../../../public/src/img/bc/bc-team.png');
        background-position: center -280px;
    }

    @include onMobile {
        padding: 0 3.2vw 0 48px;
    }

    &__title {
        line-height: 1;

        @include onMobile {
            margin-bottom: 15px;
        }

        @include onDesktop {
            width: 48vw;
        }
    }

    &__list {
        &__item {
            margin-bottom: 25px;
            position: relative;

            @include onDesktop {
                height: 471px;
                padding: 56px 0 43px 0;
            }

            @include onMobile {
                padding-bottom: 25px;
            }

            &__title {
                line-height: 137%;

                @include onDesktop {
                    margin-bottom: 10px;

                    font-size: 5vw;
                }

                @include onMobile {
                    margin-bottom: 15px;

                    font-size: 37px;
                }
            }

            &__small {
                line-height: 137%;

                text-transform: uppercase;

                @include onDesktop {
                    margin-bottom: 15px;

                    font-size: 24px;
                }

                @include onMobile {
                    margin-bottom: 0;
                }
            }

            &__desc {
                @include onDesktop {
                    width: 52vw;
                    margin-bottom: 40px;
                }

                @include onMobile {
                    width: 100%;
                    margin-bottom: 25px;
                }
            }

            &__btns {
                gap: 15px;

                @include onDesktop {
                    margin-bottom: 43px;
                }

                @include onMobile {
                    margin-bottom: 0;
                }
            }

            &__top {
                @include onMobile {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    margin-bottom: 10px;
                }
            }

            &__img {
                @include onDesktop {
                    opacity: 0;
                    width: 27.2vw;
                    z-index: 1;
                    transform: translateX(80%) scale(0);

                    transition: all 0.5s ease-in-out;
                }

                @include onMobile {
                    display: none;
                }

                &__mob {
                    @include onDesktop {
                        display: none;
                    }

                    @include onMobile {
                        display: block;
                        height: 91px;
                    }
                }
            }

            .border-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;

                background-color: #d9d9d9;

                @include onDesktop {
                    width: 0;
                    z-index: 2;

                    opacity: 0;

                    transition: all 0.5s ease;
                }

                @include onMobile {
                    width: 100%;
                }
            }

            @include onDesktop {
                transition: all 0.7s ease-in-out;

                &:hover {
                    & .team__list__item__img {
                        opacity: 1;
                        transform: translateX(0) scale(100%);
                    }
                    position: relative;

                    .border-bottom {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-about-us {
        padding: 100px 2vw 0 105px;

        @include onDesktop {
            background-image: url('../../../public/src/img/bc/bc-team-aboutPage.png');
        }

        @include onMobile {
            padding: 90px 3.2vw 0 48px;
            background-image: url('../../../public/src/img/bc/bc-team-aboutPage-mobile.png');
            background-position: center -30px;
            background-size: cover;

            margin-bottom: 90px;
        }
    }
}
