.top {
    @include onDesktop {
        padding-left: 105px;
        padding-top: 38px;

        margin-bottom: 43vh;

        width: 100vw;
    }

    @include onMobile {
        padding-left: 48px;
        padding-top: 15px;
        margin-bottom: 11vh;

        width: 100vw;
    }

    &__title {
        @include onDesktop {
            font-size: 120px;
            line-height: 175%;
            margin-bottom: 0;
        }

        @include onMobile {
            font-size: 50px;
            line-height: 138%;
            margin-bottom: 15px;

            font-size: 50px;
        }
    }

    &__desc {
        @include onDesktop {
            margin-bottom: 360px;
        }

        &__title {
            margin-bottom: 15px;

            font-size: 20px;
            line-height: 140%;
        }

        &__text {
            width: 36vw;
            margin-bottom: 40px;

            font-size: 14px;
            line-height: 112%;

            @include onMobile {
                width: 84vw;
                margin-bottom: 25px;

                line-height: 135%;
            }
        }

        &__btns {
            @include onDesktop {
                flex-direction: row;
                align-items: center;
                gap: 35px;
            }

            @include onMobile {
                flex-direction: column;

                gap: 15px;
            }

            &__right {
                line-height: 100%;
                gap: 8px;

                color: $white-second;
                opacity: 0.76;

                position: relative;
                z-index: 1;
                transition: all 1s;

                &__img {
                    transition: all 1s;
                    transition-timing-function: cubic-bezier(.45,1,.53,.96);
                    opacity: 1;
                }

                &:hover {
                    color: $white;
                    opacity: 1;

                    & img {
                        animation: Move 1s forwards;
                    }
                }
            }
        }
    }
}

@keyframes Move {
    0% {
        transform: translateX(0);
        content: url('/src/img/icons/arrows/arrow_right_short.svg');
    }

    33% {
        transform: translateX(8%);
        content: url('/src/img/icons/arrows/arrow_right_short.svg');
    }

    66% {
        transform: translateX(5%);
        content: url('/src/img/icons/arrows/arrow_right_long.svg');
    }

    100% {
        transform: translateX(0);
        content: url('/src/img/icons/arrows/arrow_right_long.svg');
    }
}
