.whatLevitai {
    background-image: url('/src/img/bc/bc-whatIs.png');

    background-position: left top;
    background-size: contain;

    @include onMobile {
        background: none;
    }

    &__container {
        padding: 77px 2vw 13.8vh 105px;

        @include onMobile {
            padding: 15px 3.2vw 110px 48px;
        }

        &__top {
            margin-bottom: 100px;

            flex-direction: row;

            @include onMobile {
                margin-bottom: 90px;

                flex-direction: column;
            }

            &__title {
                margin-bottom: 15px;
            }

            &__desc {
                width: 33vw;

                @include onMobile {
                    width: 100%;

                    margin-bottom: 25px;
                }
            }

            &__img {
                width: 100%;
                max-width: 360px;
            }
        }

        &__video {
            margin-bottom: 152px;

            @include onMobile {
                margin-bottom: 90px;
            }

            &__undertitle {
                margin-bottom: 15px;

                @include onMobile {
                    margin-bottom: 5px;
                }
            }

            &__title {
                margin-bottom: 30px;

                font-size: 48px;
                line-height: 137.5%;

                @include onMobile {
                    margin-bottom: 15px;

                    font-size: 30px;
                }
            }

            &__desc {
                margin-bottom: 95px;

                font-size: 14px;

                width: 44vw;

                @include onMobile {
                    margin-bottom: 25px;

                    width: 100%;
                }
            }
        }

        &__nums {
            margin-bottom: 100px;

            gap: 6vw;
            flex-direction: row;
            justify-content: center;

            @include onMobile {
                margin-bottom: 90px;

                gap: 25px;
                flex-direction: column;
            }

            &__block {
                gap: 40px;

                width: 16vw;

                @include onMobile {
                    width: 100%;

                    gap: 25px;
                    align-items: center;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    flex-direction: column-reverse;

                    @include onMobile {
                        flex-direction: column;
                    }
                }

                &__content {
                    gap: 10px;

                    &__img {
                        width: 50px;
                        height: 90px;
                    }

                    &__text {
                        opacity: 0.75;
                    }
                }

                &__img {
                    width: 100%;

                    @include onMobile {
                        max-width: 560px;
                    }
                }
            }
        }

        &__article {
            &__title {
                margin-bottom: 25px;

                font-size: 5vw;

                @include onMobile {
                    margin-bottom: 15px;

                    font-size: 37px;
                }
            }

            &__desc {
                opacity: 0.8;

                font-weight: 500;

                @include onMobile {
                    font-weight: 700;
                }

                &:not(:last-of-type) {
                    margin-bottom: 25px;

                    @include onMobile {
                        margin-bottom: 15px;
                    }
                }
            }

            &__img {
                width: 100%;

                margin-bottom: 25px;

                @include onMobile {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
